/*main*/
.colGreen {
  color: #05af10 !important;
}

/*search*/
#searchModule {
  height: 18.75vw;
  background: #05af10;
  overflow: hidden;
}
#searchModule #searchContainer {
  float: left;
  background: #fff;
  width: 78.125vw;
  height: 10.625vw;
  margin-top: 4.0625vw;
  margin-left: 4.6875vw;
  border-radius: 5px;
}
#searchModule #searchContainer .fdj {
  width: 4.375vw;
  float: left;
  margin-top: 3.125vw;
  margin-left: 4.6875vw;
}
#searchModule #searchContainer .search {
  float: left;
  margin-top: 3.125vw;
  border: none;
  text-indent: 4.375vw;
}
#searchModule .ss {
  float: left;
  width: 7.5vw;
  margin-left: 4.84375vw;
  margin-top: 5.46875vw;
}

/*nav*/
#nav {
  overflow: hidden;
}
#nav li {
  float: left;
  font-size: 5vw;
  line-height: 15.625vw;
  color: #333;
  width: 50%;
  text-align: center;
}

/*banner*/
.banner {
  height: 50vw;
}
.banner img {
  width: 100%;
}

/*content*/
.content {
  margin: 0 4.6875vw;
}
.content .title {
  font-size: 4.6875vw;
  color: #666;
  padding: 6.25vw 0 1.5625vw 0;
}
.content .item {
  overflow: hidden;
  margin: 4.6875vw 0;
}
.content .item .logo {
  width: 18.75vw;
  float: left;
}
.content .item .right {
  overflow: hidden;
  float: left;
  width: 68.75vw;
  margin-left: 3.125vw;
}
.content .item .right .p1 {
  font-size: 5vw;
  color: #333;
  margin-bottom: 2.8125vw;
}
.content .item .right .p2 {
  font-size: 3.75vw;
  color: #999;
  margin-bottom: 1.5625vw;
}
.content .item .right .p3 {
  font-size: 3.75vw;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*content*/
#view2 ul {
  float: left;
  width: 50%;
}
#view2 ul li {
  color: #333;
  font-size: 4.375vw;
  line-height: 13.75vw;
  border-bottom: 1px solid #eee;
}
#view2 ul li img {
  width: 6.25vw;
  float: left;
  margin: 3.75vw 4.6875vw 0vw 9.375vw;
}

.bar {
  background: #eee;
  height: 1.5625vw;
}
