#view2 {
  display: none;
}
#view2 ul {
  float: left;
  width: 50%;
}
#view2 ul li {
  color: #333;
  font-size: num(28);
  line-height: num(88);
  border-bottom: 1px solid #eee;
}
#view2 ul li img {
  width: num(40);
  float: left;
  margin: num(24) num(30) num(0) num(60);
}
