@function num($num){
    @return $num/640*100+vw;
}
$borderR:5px;
$green:#05af10;
.colGreen{
    color: $green !important;
}
.click-bottom{
    text-align: center;
    line-height: 10vw;
    margin-bottom: 30vw;
}
.click-bottom img{
    display: none;
}
