

#searchModule{
    height: num(120);
    background: $green;
    overflow: hidden;
    line-height: num(120);
    #searchContainer{
        float: left;
        background: #fff;
        width: num(500);
        height: num(68);
        line-height: num(68);
        margin-top: num(26);
        margin-left: num(30);
        border-radius: $borderR;
        .fdj{
            width: num(28);
            float: left;
            margin-top: num(20);
            margin-left: num(30);
        }
        .search{
            float: left;
            margin-top: num(20);
            border: none;
            text-indent: num(28);
            font-size: num(28);
            line-height: num(28);
            height: num(28);
            width: num(300);
        }
    }
    .ss{
        float: left;
        width: num(48);
        margin-left: num(31);
        margin-top: num(35);
    }
    .cancel{
        float: left;
        color: #fff;
        margin-left: num(30);
        font-size: num(24);
        display: none;
    }
}
